<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
     <link
         href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
         rel="stylesheet"
     />
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            height: 100vh;
            border-color: black;
            border-top: solid;
            border-width: 3px;
        }
    </style>
</head>
<body>
    <div class="navbar bg-dark">
        <ul class= "navbar-nav d-flex justify-content-between w-100" >
             <li class="nav-item mb-4 mt-4">
                <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item mb-4 mt-4">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
             <li class="nav-item mb-4 mt-4">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item mb-4 mt-4">
                <a class="nav-link" href="/sign-up">Sign Up</a>
            </li>
        </ul>
    </div>

        <div class="image-container">
                <!-- Replace 'image.jpg' with the path to your image -->
                <img class="fit-image" src="{{ url_for('static', filename='images/image.jpg') }}" alt="Image">
    </div>

    <div class="rightLabel">
            {% block content1 %}
        <label> {{label_text}}</label> <!-- Label -->
    {% endblock %}
    </div>
    <div class="bottomLabel">
            {% block label1 %}
        <label>{{ label_text }}</label>
    {% endblock %}
    </div>
        <div class="topLabel">
            {% block labelTop %}
        <label> LIVE FEED </label>
    {% endblock %}
    </div>
        <div class="videoSidebarLeft">
    </div>
            <div class="videoSidebarRight">
    </div>
        <div class="detectionLabel">
            {% block detectTitle %}
        <label>OBJECTS DETECTED</label>
    {% endblock %}
    </div>

        <div class="actionLabel">
            {% block actions %}
        <label>*SLOW DOWN*</label> <!-- Label -->
    {% endblock %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
{#<script>#}
{#        // Fetch the detection status from the Flask route#}
{#        fetch('/detect', {#}
{#            method: 'POST',#}
{#            body: new FormData(document.querySelector('form')),#}
{#        })#}
{#        .then(response => response.json())#}
{#        .then(data => {#}
{#            // Check if an obstacle is detected#}
{#            if (data.message === 'Warning: Obstacle detected!') {#}
{#                // Update the rightLabel with the warning message#}
{#                document.getElementById('rightLabel').innerText = data.message;#}
{#            }#}
{#        })#}
{#        .catch(error => console.error('Error:', error));#}
{#    </script>#}
</body>
</html>