/* styles.css */
body, html {
    height: 100%; /* Ensure the body and html elements cover the entire viewport */
    margin: 0;
}

.navbar {
    position: fixed; /* constrain the navbar to the left side of the screen */
    top: 0;
    left: 0;
    height: 100%;
    width: 9%;
    padding-top: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-top: none;
}
.nav-link{
    color: white;
}
.navbar-nav {
    list-style: none;
    padding-left: 0;
}

.rightLabel {
    width: 27%;
    position: fixed; /* Position the container */
    top: 8%;
    right: 0; /* Align to the right side of the screen */
    height: 100%; /* Cover the entire height of the viewport */
    color: black; /* Set text color */
    text-align: left;
    word-wrap: break-word;
    background-color: gray;
    border-width: 3px;
    border-color: black;
    border-style: solid;

    border-top: none;
}

.bottomLabel {
    width: 64%;
    position: fixed; /* Position the container */
    bottom: 10%;
    margin-left: 9%; /* Align to the right side of the screen */
    height: 20%; /* Cover the entire height of the viewport */
    margin-top: 70%;
    color: gray; /* Set text color */
    text-align: right;
    word-wrap: break-word;
    background-color: gray;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-right: none;
    border-left: none;
}

.videoSidebarLeft {
    width: 10%;
    position: fixed;
    top: 0;
    margin-left: 9%;
    height: 70%;
    background-color: lightgray;
    border-width: 3px;
    border-color: black;
    border-right: solid;
    border-top: solid;
}


.image-container {
    image-size: 100%;
    width: 100%;
    position: fixed; /* Position the container */
    top: 0;
    right: 54%;
    left: 12%; /* Align to the right side of the screen */
    height: 100%; /* Cover the entire height of the viewport */
    padding-top: 0px; /* Optional: Add padding at the top */
    background-color: gray;
    border-width: 3px;
    border-color: black;
    border-style: solid;

}
.videoSidebarRight {
    width: 10%;
    position: fixed;
    top: 0;
    right: 27%;
    height: 70%;
    background-color: lightgray;
    border-width: 3px;
    border-color: black;
    border-left: solid;
    border-top: solid;
}

.detectionLabel{
    width: 27%;
    position: fixed;
    top: 0;
    right: 0;
    height: 8%;
    text-align: center;
    color: red;
    background-color: black;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-bottom: dot-dash;
}
.actionLabel{
    width: 64%;
    position: fixed; /* Position the container */
    bottom: 0;
    margin-left: 9%; /* Align to the right side of the screen */
    height: 10%; /* Cover the entire height of the viewport */
    color: red; /* Set text color */
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-right: none;
    border-left: none;
}